@inherits LayoutComponentBase

<PageTitle>PSOBBCharacterDataDecoderWeb</PageTitle>

@using PSOBBCharacterDataDecoderWeb.Service.Implements
@using System
@using System.IO
@using PSOBBCharacterDataDecoderWeb.Model
@inject PSOBBCharacterDataFileService PsobbService
@inject ILogger<MainLayout> logger


<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="justify-content: unset!important;">
            <label>
                FileSelection:
                <InputFile OnChange="OnFileChange" multiple />
            </label>

        </div>

        @if(Characters.Count() == 0)
        {
            <article class="content px-4">
                <PageTitle>Index</PageTitle>

                <h1>Welcome to PSOBB Character Manager!</h1>

                You can select a character file to manage your characters.
            </article>
        }
        else
        {
            <CascadingValue Value="Characters">
                <article class="content px-4">
                    @Body
                </article>
            </CascadingValue>
        }
    </main>
</div>

@code {
    private IEnumerable<CharacterModel> Characters { get; set; } = new List<CharacterModel>();

    private int maxAllowedFiles = 20;

    /// <summary>
    /// PSOBB character files change event.
    /// </summary>
    /// <param name="e"></param>
    /// <returns></returns>
    private async Task OnFileChange(InputFileChangeEventArgs e)
    {
        PsobbService.Initialize(e.GetMultipleFiles(maxAllowedFiles));

        try
        {
            Characters = await PsobbService.GetCharactors();
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Decode Error");
        }
    }
}